workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        2896,
        624
      ],
      "id": "90efcd74-d9e9-45de-bc54-7549ab756c59",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "vWLuzvdOqFSEqqTr",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f4ccf5b-0e15-4f68-a9f4-87be2382ed2c",
              "name": "emailBody",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "18e22677-84ef-4805-9a04-d856e520252c",
              "name": "threadID",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "senderEmail",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "emailSubject",
              "value": "={{ $json.subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        624
      ],
      "id": "68980cd4-c3f7-4ddf-acaa-ee727d90c6f3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Prompt:\nAnalyze the content of the following email and determine whether it is related to customer support. If the email pertains to any of the following topics, mark customerSupport as true; otherwise, mark it as false.\n\nCustomer Support Topics Include:\n\nQuestions about order status, tracking, or changes\nIssues with damaged or defective products\nRefund or return requests\nSubscription cancellations or adjustments\nTechnical issues with products, website, or app\nPayment or billing inquiries\nRequests for speaking with a support representative\n\nOutput:\nProvide the result in JSON format with a field named \"customerSupport set to true or false.",
              "role": "model"
            },
            {
              "content": "=Here is your email {{ $json.emailBody }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3344,
        624
      ],
      "id": "77aab61f-bbb3-4877-920b-fdc5beedfee4",
      "name": "Customer Support",
      "credentials": {
        "googlePalmApi": {
          "id": "BH6J8ysoUuBxHJAl",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.emailBody }}",
        "options": {
          "systemMessage": "You are a helpful customer support assistant trained by GeminiAI. You are designed to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on various topics. As a language model, you can generate human-like text based on the input you receive, allowing you to engage in natural-sounding conversations and provide coherent and relevant responses.\n\nYour task is to:\n1. Analyze the customer support email provided\n2. Use the Pinecone Vector Store tool to search for relevant company policies, FAQs, and support documentation\n3. Draft a professional, helpful, and empathetic response addressing their concerns\n4. Use the Gmail Reply Tool to send the response back to the customer\n5. Ensure the response is clear, actionable, and based on accurate company information"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4056,
        624
      ],
      "id": "c1bffb71-118b-4b2d-99f6-b0af902945a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.candidates[0].content.parts[0].text.replace(/```json\\n|\\n```/g, '')).customerSupport }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "e690d3c5-f0b9-464e-b335-2543d62da293"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fef51943-69cf-4749-a64b-01bd900dc940",
                    "leftValue": "={{ JSON.parse($json.candidates[0].content.parts[0].text.replace(/```json\\n|\\n```/g, '')).customerSupport }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Customer Support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3696,
        624
      ],
      "id": "c572e638-a874-46a0-8e9e-f4ebaf7962bb",
      "name": "Customer Support?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3920,
        848
      ],
      "id": "20a7b4e1-afbb-4f27-96e7-6020cf9f301f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BH6J8ysoUuBxHJAl",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieves information about our customer support policies and FAQs",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        4048,
        848
      ],
      "id": "49738604-bfe9-454d-af15-2dd0a2d032c3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "nM2HpNXBw03yRdHY",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        4128,
        1056
      ],
      "id": "a35a3283-7bcc-425f-a709-26281c387a98",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BH6J8ysoUuBxHJAl",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('recipient_email') }}",
        "subject": "={{ $fromAI('email_subject') }}",
        "message": "={{ $fromAI('email_body') }}",
        "options": {}
      },
      "id": "ca47ee34-9d47-4ae2-8ecb-d99619626c2a",
      "name": "Gmail Reply Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        4336,
        848
      ],
      "webhookId": "aa4628b4-038e-4995-88c5-e299724b6687",
      "credentials": {
        "gmailOAuth2": {
          "id": "gw8U239eoQ0jdrbV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Customer Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support": {
      "main": [
        [
          {
            "node": "Customer Support?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Reply Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf6c36ac-0d9d-41a7-afa7-4577888ff887",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0242d89480eff7b54235c505110c3367fb69f6f94ff05b89e2346e16c6f89af4"
  },
  "id": "vv8sVjR36P33Qghx",
  "tags": []
}